[backends]
{{range $pinkPoney, $service := .Services}}
  {{range $index, $node := $service.Nodes}}
    [backends."backend-{{$service.UniqueServiceName}}".servers."{{getBackendName $node $index}}"]
      url = "{{getAttribute "protocol" $node.Service.Tags "http"}}://{{getBackendAddress $node}}:{{$node.Service.Port}}"
      {{$weight := getAttribute "backend.weight" $node.Service.Tags "0"}}
      {{with $weight}}
        weight = {{$weight}}
      {{end}}
  {{end}}

  {{$circuitBreaker := getAttribute "backend.circuitbreaker" $service.Attributes ""}}
  {{with $circuitBreaker}}
  [backends."backend-{{$service.UniqueServiceName}}".circuitbreaker]
    expression = "{{$circuitBreaker}}"
  {{end}}

  {{$loadBalancer := getAttribute "backend.loadbalancer" $service.Attributes ""}}
  {{with $loadBalancer}}
  [backends."backend-{{$service.UniqueServiceName}}".loadbalancer]
    method = "{{$loadBalancer}}"
  {{end}}

  {{if hasMaxconnAttributes $service.Attributes}}
  [backends."backend-{{$service.UniqueServiceName}}".maxconn]
    amount = {{getAttribute "backend.maxconn.amount" $service.Attributes "" }}
    extractorfunc = "{{getAttribute "backend.maxconn.extractorfunc" $service.Attributes "" }}"
  {{end}}
{{end}}

[frontends]
{{range .Services}}
  [frontends."frontend-{{.UniqueServiceName}}"]
  backend = "backend-{{.UniqueServiceName}}"
  passHostHeader = {{getAttribute "frontend.passHostHeader" .Attributes "true"}}
  priority = {{getAttribute "frontend.priority" .Attributes "0"}}
  {{$entryPoints := getAttribute "frontend.entrypoints" .Attributes ""}}
  {{with $entryPoints}}
    entrypoints = [{{range getEntryPoints $entryPoints}}
      "{{.}}",
    {{end}}]
  {{end}}
  [frontends."frontend-{{.UniqueServiceName}}".routes."route-{{.UniqueServiceName}}"]
    rule = "{{getFrontendRule .}}"
{{end}}
